<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/color.css">
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/tiku.js"></script>
    <title>党史知识百问答题竞赛</title>
</head>

<body>
    <div id="test" class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">保卫部佳华保卫科党支部<br>党史知识百问答题竞赛</h3>
                <br>
            </div>
            <div id="title" class="col-xs-12">
                <div class="col-xs-4" style="position: fixed; z-index: 999;top:80px; right:0px">
                    <span>已用时:{{time}}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <br>
                <div v-for="(ti,i) in tiku" class="col-xs-12">
                    <label><span>{{i+1}}.</span><span>({{ti.type}})</span>{{ti.title}}<span
                            style="color: #ffe6e6;">{{ti.answer}}</span> </label>
                    <div v-if="ti.optionA !=null" :class="[ti.type=='多选' ? 'checkbox' : 'radio']">
                        <label> <input :name="i" :type="[ti.type=='多选' ? 'checkbox' : 'radio']">{{ti.optionA}}</label>
                    </div>
                    <div v-if="ti.optionB !=null" :class="[ti.type=='多选' ? 'checkbox' : 'radio']">
                        <label> <input :name="i" :type="[ti.type=='多选' ? 'checkbox' : 'radio']">{{ti.optionB}}</label>
                    </div>
                    <div v-if="ti.optionC !=null" :class="[ti.type=='多选' ? 'checkbox' : 'radio']">
                        <label> <input :name="i" :type="[ti.type=='多选' ? 'checkbox' : 'radio']">{{ti.optionC}}</label>
                    </div>
                    <div v-if="ti.optionD !=null" :class="[ti.type=='多选' ? 'checkbox' : 'radio']">
                        <label> <input :name="i" :type="[ti.type=='多选' ? 'checkbox' : 'radio']">{{ti.optionD}}</label>
                    </div>
                    <div v-if="ti.optionE !=null" :class="[ti.type=='多选' ? 'checkbox' : 'radio']">
                        <label> <input :name="i" :type="[ti.type=='多选' ? 'checkbox' : 'radio']">{{ti.optionE}}</label>
                    </div>
                    <div v-if="ti.optionF !=null" :class="[ti.type=='多选' ? 'checkbox' : 'radio']">
                        <label> <input :name="i" :type="[ti.type=='多选' ? 'checkbox' : 'radio']">{{ti.optionF}}</label>
                    </div>
                    <br>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-lg btn-block">
                            提交答卷
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            new Vue({
                el: "#test",
                data: {
                    tiku: tiku100,
                },
                computed: {
                    time: function () {
                        return parseInt(Math.random() * 30 + 10) + "分" + parseInt(Math.random() * 60) + "分";
                    }
                },
                methods: {},
            });
        </script>
</body>

</html>
